@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Outfit:wght@100..900&display=swap');
*{
    font-family:'Outfit',sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    color: black;
}
img{
    width: 100%;
}